{% extends "personal/header.html" %}

{% block content %}

<a href="/contact/"><h3>Contact Details</h3></a><hr>

<h3>Contact</h3>
<div class="row">
  <div class="col-sm-3" style="text-align: right;">
      <p class="text-primary">Name:<br>Email:<br><br>Phone:<br>Blog:</p>
  </div>
  <div class="col-sm-6">
      <p>Dan Dumitrache<br>vietnamezul@gmail.com<br>dan@saigon.ro<br>+40(0)90 43 62 0 26<br>www.dan.saigon.ro</p>
  </div>
</div>

<h3>Social Media</h3>
<div class="row">
  <div class="col-sm-3" style="text-align: right;">
    <a href="https://github.com/saigonro">GitHub:</a><br>
    <a href="https://www.linkedin.com/in/dumitrachedan/">LinkedIn:</a>
  </div>
  <div class="col-sm-6">
      <p>See my code repositories on GitHub<br>Visit my LinkedIn profile</p>
  </div>
</div>

<!--{% include 'personal/includes/htmlsnippet.html' %}-->

{% endblock %}
