<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'personal/css/style.css' %}" type = "text/css"/>
	<title>Dan Dumitrache</title>
</head>

<body>
	<div class="container">
<!-- Header starts here -->

			<div class="row">
				<div class="col-sm-3" style="text-align: right; padding-top: 20px; padding-right: 50px;">
					<img src="../static/personal/img/python-powered-w-140x56.png" />
				</div>
				<div class="col-sm-9">
					<a href="/"><h1 style="font-size: 1.5em;">DAN DUMITRACHE - Web Developer<br>
					<small>HTML, CSS, Bootstrap, JavaScript, Django, Python, SQLite/PostgreSQL/MySQL, Git, Bash Shell</small></h1></a>
				</div>
			</div>
			<hr>
<!-- Header ends here -->

<!-- Content starts here -->
		<div class="row">
			<div class="col-sm-3">
				<nav class="text-right" style="padding-top: 22px; padding-right: 50px;">
					<h4>MENU</h4><hr>
					<a href="/">ABOUT</a><br>
					<a href="/blog/">BLOG</a><br>
					<a href="/photos/">GALLERY</a><br>
					<a href="/contact/">CONTACT</a><br>

				</nav>
			</div>
			<div class="col-sm-9">
				{% block content %}
				{% endblock %}
			</div>
		</div>

<!-- Content ends here -->
<div class="navbar navbar-bottom">
	<div class="row"><hr>
		<div class="col-sm-3"></div>
			<div class="col-sm-9">
				<p style="font-size: 0.8em;">&#169; <span id="theyear"></span> Dan Dumitrache</p>
				<script type="text/javascript" >document.getElementById("theyear").innerHTML = new Date().getFullYear();</script>
			</div>
		</div>
</div>

</div>
</body>

</html>
