{% extends "personal/header.html" %}

{% block content %}

<p>Hi there! Welcome to my website! I'm Dan and I'm a self-taught Python developer
	from Romania currently living in Dublin, Ireland.</p>


<p>This website has been written in Python using Django as a web framework.
	The website is very simple, clear, and easy to navigate because this is how I like things to be done.
	It also contains a blog section where I explain all of the Python projects I do. It is hosted on Heroku.</p>

<p>I also have a Wordpress blog at <a href="http://dan.saigon.ro">dan.saigon.ro</a>
	where I usually write everything I want to remember related to web development.</p>

<p>If you want to contact me (for any reason) please check my contact page.

<!--{% include 'personal/includes/htmlsnippet.html' %}-->

{% endblock %}
